<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>planets db</title>
  </head>
  <body>

    <header>
      <h1>BE GOD.</h1><br>
      <h2>Get CRUDy with the planets</h2><br>
      <nav>
        <span><a href="/:add">add</a></span>
        <span><a href="/:edit">edit</a></span>
        <span><a href="/:destroy">DESTROY</a></span>
      </nav>
    </header>

<!-- {{#add}} -->
{{#err}}
<h2>{{.}}</h2>
{{/err}}
{{^err}}
    <div class="add-form">
      <form class="" action="/" method="post">
          <legend>Create a whole NEW PLANET</legend>

          <label for="name">planet name</label><br>
          <input type="text" name="name"><br>

          <label for="inhabitable">inhabitable?</label><br>
          <input type="radio" name="inhabitable" value="true" checked> Yes!<br>
          <input type="radio" name="inhabitable" value="false"> Not yet...<br>

          <label for="diameter">diameter (km)</label><br>
          <input type="number" name="diameter">

          <button type="submit" name="submitbutton">Submit</button>
          <input type="reset">
      </form>
    </div>
{{/err}}
<!-- {{/add}} -->

{{#edit}}
    <div class="edit-form">
      <form class="" action="index.html" method="post">
        <legend>CHANGE the planets</legend>
      </form>
    </div>
{{/edit}}

{{#delete}}
    <div class="delete-form">
      <form class="" action="index.html" method="post">
        <legend>DESTROY A PLANET</legend>
        <label for="delete">What planet do you want to explode?</label>
        <input type="text" name="delete">
        <button type="submit" name="button">KABOOM!</button>
      </form>
    </div>
{{/delete}}

  </body>
</html>
